* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

.menu-items {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
  justify-content: flex-end; }

.icono_redes {
  width: 40px;
  height: 40px; }

.logo {
  width: 90px;
  margin-right: 80px; }

.container-fluid {
  background: #aae2f3; }

#MenuNavegacion {
  justify-content: center; }

.menu-items:hover {
  background: rgba(102, 193, 253, 0.822); }

.carousel-item {
  height: 35rem; }

.imagen-carousel {
  height: 100%;
  object-fit: cover; }

.f-pagos {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  width: 100%;
  height: 9rem;
  padding: 2rem; }

.pagos-lista {
  text-align: center;
  align-items: center; }
  .pagos-lista p {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    color: #FD1283; }
  .pagos-lista svg {
    width: 200px;
    height: 90px; }

@media (max-width: 858px) {
  .f-pagos {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 6rem; } }

/* grilla de okm*/
.flota_0km {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tarjeta a {
  text-decoration: none; }

.name {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 30px; }

.paragraph {
  font-size: 2rem;
  font-weight: 300;
  --clippy: circle(0% at 50% 50%); }

.item {
  position: relative;
  padding-left: 1rem;
  transition: color 1s; }

.item::before {
  content: "";
  display: block;
  background: slateblue;
  width: 120%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  clip-path: var(--clippy);
  transition: clip-path 2s; }

.paragraph::before {
  background: #f86d70; }

.name:hover::before {
  clip-path: polygon(0 0, 86% 0, 95% 100%, 0 100%); }

.name:hover + .paragraph::before {
  clip-path: circle(150% at 50% 50%);
  transition: clip-path 1.5s 2s; }

.name:hover,
.name:hover + .paragraph {
  color: #fff; }

.tarjeta {
  height: 100%; }

.tarjeta img {
  background: #aae2f3; }

.tarjeta h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center; }

.tarjeta p {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center; }

.tarjeta-padre {
  padding: 30px; }

.icono_asesoria {
  width: 3rem;
  height: 3rem; }

.asesoria-icono {
  justify-content: center;
  text-align: center;
  border: 2px solid;
  margin: 10px;
  background-color: #BCF9A7;
  text-decoration: none;
  padding-top: 1rem; }

.asesoria-icono p {
  font-size: 1.2rem;
  color: #FD1283; }

.asesoria-icono a {
  text-decoration: none; }

/* Redes Sociales */
.menu_redes1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px; }

.animacion {
  position: relative;
  margin: 10% auto;
  width: 70%;
  height: 400px;
  background: linear-gradient(90deg, #fcfcfc, #f3f6f7); }

.animacion:before, .animacion:after {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  background: linear-gradient(120deg, #79fb00, #8d01a0, #031ba5, #ff004c, #e6036d, #fb0094, #ff6600, #04c2e4, #04c2e4, #adad02, #00c3ff);
  background-size: 300%;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  z-index: -1;
  animation: animacion1 15s ease infinite; }

@keyframes animacion1 {
  0% {
    background-position: 0% 200%; }
  50% {
    background-position: 200% 0%; }
  100% {
    background-position: 0% 300%; } }

.animacion:after {
  filter: brightness(1.4);
  filter: drop-shadow(16px 16px 20px #f8dc61);
  filter: blur(15px); }

.redes_sociales {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none; }

.texto_redes {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #56AADA;
  font-family: Arial, Helvetica, sans-serif; }

.logo_redes {
  width: 110px;
  height: 90px; }

@media (max-width: 858px) {
  .texto_redes {
    font-size: 24px; }
  .logo_redes {
    width: 80px;
    height: 60px; } }

/*gps*/
.gps-texto p {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; }

.gps-texto {
  background: #56AADA; }

.gps-iframe {
  width: 100%; }

.iframe {
  height: 20rem; }

/*footer */
.footer {
  background: antiquewhite;
  padding-top: 2rem; }

.iconos-footer {
  margin: 10px;
  text-align: center; }

.footer-dire {
  text-align: center; }

.footer-hora {
  text-align: center; }

.footer-pie {
  font-size: .5rem;
  text-align: center; }

@media (max-width: 858px) {
  .gps-texto p {
    font-size: 1rem; }
  .footer p {
    font-size: .8rem; }
  .footer h3 {
    font-size: .8rem; }
  .footer-pie p {
    font-size: .2rem; } }

/* 0km Pagina Web */
.caja-0km h2 {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  color: red; }

.caja-0km h3 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 162, 255, 0.822); }

.contenedor-animado {
  width: 400px;
  height: 40px;
  display: flex;
  overflow: hidden;
  font-size: 2rem;
  line-height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 35px;
  text-transform: uppercase; }

.contenedor-animado ul {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 7s infinite;
  margin: 0; }

.contenedor-animado p {
  margin: 0; }

@keyframes cambiar {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  25% {
    margin-top: -40px; }
  50% {
    margin-top: -40px; }
  55% {
    margin-top: -80px; }
  80% {
    margin-top: -80px; }
  85% {
    margin-top: -40px; }
  95% {
    margin-top: -40px; }
  100% {
    margin-top: 0; } }

.grilla-0km {
  margin-top: 60px; }

.caja-0km {
  margin: 20px; }

.caja-0km p {
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  padding: 10%; }

#galeria img {
  width: 100%;
  height: 300px; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 15px; }

#galeria img:hover {
  border: 5px solid #fff; }

.text-center {
  font-size: 1.5rem; }

@media (max-width: 858px) {
  .caja-okm h2 {
    color: #fff; } }

/* usados*/
.usados_titulo h2 {
  color: red;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase; }

/* fotos e info usados*/
#grilla_usados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-items: center;
  margin-bottom: 50px; }

#grilla_usados img {
  width: 450px;
  height: 350px; }

.grilla_cuerpo {
  border: 3px solid;
  margin: 20px;
  padding: 20px;
  width: 500px;
  height: 600px; }

.grilla_cuerpo h3 {
  font-size: 20px;
  text-align: center; }

.grilla_cuerpo p {
  font-size: 20px;
  border: 2px solid;
  width: 200px;
  text-align: center;
  margin-left: 130px;
  background: #FC9999;
  text-transform: uppercase;
  color: #fff; }

/*descuentos usados */
.descuentos_usados {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  background-color: #c2e5f8;
  border-radius: 5%; }
