/* Archivos Sass */
/*variables*/
/* Mixins */
/* 0km Pagina Web */
.caja-0km {
  margin: 20px; }
  .caja-0km h2 {
    font-size: 3.5rem;
    text-align: center;
    color: red;
    text-transform: uppercase; }
  .caja-0km h3 {
    font-size: 2rem;
    text-align: center;
    color: rgba(0, 162, 255, 0.822);
    text-transform: uppercase; }
  .caja-0km p {
    font-size: 1.2rem;
    text-align: center;
    color: #000;
    text-transform: uppercase; }
  .caja-0km img {
    width: 100%;
    object-fit: cover; }

.contenedor-animado {
  width: 400px;
  height: 40px;
  display: flex;
  overflow: hidden;
  font-size: 2rem;
  line-height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  text-transform: uppercase; }
  .contenedor-animado ul {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
    margin: 0; }
  .contenedor-animado p {
    margin: 0; }

@keyframes cambiar {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  25% {
    margin-top: -40px; }
  50% {
    margin-top: -40px; }
  55% {
    margin-top: -80px; }
  80% {
    margin-top: -80px; }
  85% {
    margin-top: -40px; }
  95% {
    margin-top: -40px; }
  100% {
    margin-top: 0; } }

.grilla-0km {
  margin-top: 60px; }

/*Amarok*/
#galeria img {
  width: 100%; }

.foto-1 {
  height: 350px; }

.foto-2 {
  height: 230px; }

#galeria img:hover {
  border: 5px solid #fff; }

.texto-amarok {
  font-size: 1.5rem; }

/*Nivus*/
.imagen-nivus {
  width: 100%;
  height: 400px; }

.nivus-animacion {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.nivus-header {
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);
  background-clip: text;
  background-size: 400%;
  font-size: 4rem;
  font-family: sans-serif;
  letter-spacing: 5px;
  font-weight: 600;
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: color 10s linear infinite; }

@keyframes color {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }

.nivus h2 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600; }

.nivus h5 {
  font-size: .8rem;
  text-align: center; }

.texto-nivus h2 {
  font-size: 2rem;
  text-align: center; }

.texto-nivus h3 {
  font-size: 1.4rem;
  text-align: center; }

.texto-nivus p {
  text-align: center;
  font-size: 1.1rem; }

/*Media Queries*/
@media (max-width: 850px) {
  .caja-0km h2 {
    font-size: 2.5rem;
    text-align: center;
    color: red;
    text-transform: uppercase; }
  .caja-0km h3 {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 162, 255, 0.822);
    text-transform: uppercase; }
  .caja-0km p {
    font-size: 1.2rem;
    text-align: center;
    color: #000;
    text-transform: uppercase; }
  .contenedor-animado {
    font-size: 1rem;
    width: 300px; } }

@media (max-width: 550px) {
  .foto-modal {
    width: 100%; }
  .cont-modal {
    width: 330px; } }

/* usados*/
.titulo-usados {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: red;
  text-decoration: underline; }

.usados-foto {
  margin: 20px;
  align-items: center; }
  .usados-foto .imagen-fluid {
    width: 100%;
    height: 350px; }
  .usados-foto img:hover {
    border: 5px solid #fff; }

.card-text {
  font-size: 1.2rem;
  text-align: center; }

.usados-texto h3 {
  font-size: 1.8rem;
  text-transform: uppercase; }

.usados-texto h4 {
  font-size: 1rem;
  text-align: center; }

.usados-texto h5 {
  font-size: .8rem; }

.card-footer a p {
  font-size: 1.4rem; }

/*descuentos usados */
.descuentos_usados {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  background-color: #c2e5f8;
  border-radius: 5%;
  padding-top: 20px;
  margin-top: 40px; }

/* grilla de okm*/
.flota_0km {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tarjeta a {
  text-decoration: none; }

.name {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 30px; }

.paragraph {
  font-size: 2rem;
  font-weight: 300;
  --clippy: circle(0% at 50% 50%);
  margin-bottom: 30px; }

.item {
  position: relative;
  padding-left: 1rem;
  transition: color 1s; }

.item::before {
  content: "";
  display: block;
  background: slateblue;
  width: 120%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  clip-path: var(--clippy);
  transition: clip-path 2s; }

.paragraph::before {
  background: #f86d70; }

.name:hover::before {
  clip-path: polygon(0 0, 86% 0, 95% 100%, 0 100%); }

.name:hover + .paragraph::before {
  clip-path: circle(150% at 50% 50%);
  transition: clip-path 1.5s 2s; }

.name:hover,
.name:hover + .paragraph {
  color: #fff; }

.contenedor-auto {
  width: 350px;
  height: 250px;
  margin: auto; }

.contenedor-grilla {
  width: 100%;
  height: 100%; }

.contenedor-auto figure {
  position: relative;
  height: 250px;
  cursor: pointer;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

.contenedor-auto figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
  object-fit: contain; }

.contenedor-auto figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.contenedor-auto figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.contenedor-auto figure:hover > .capa h3 {
  margin-top: 20px;
  margin-bottom: 15px; }

.contenedor-auto figure:hover > figure img {
  transform: scale(1.3); }

.contenedor-auto figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
  text-transform: uppercase; }

.contenedor-auto figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto; }

.card-footer {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px; }

@media (max-width: 858px) {
  .name {
    font-size: 2rem; }
  .paragraph {
    font-size: 1.5rem;
    padding-bottom: 40px; } }

@media (max-width: 650px) {
  .item::before {
    width: 100%; } }

@media (max-width: 660px) {
  .contenedor-auto figure {
    width: 250px;
    height: 250px; }
  .contenedor-auto {
    width: 250px; } }

/*footer */
.pie-de-pagina {
  width: 100%;
  background-color: #aae2f3; }

.grupo-footer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px 0px; }
  .grupo-footer .horarios {
    justify-content: center;
    align-items: center; }
    .grupo-footer .horarios h3 {
      font-size: 1rem;
      text-align: center; }
    .grupo-footer .horarios p {
      font-size: .8rem;
      text-align: center; }
  .grupo-footer .redes-sociales .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .grupo-footer .redes-sociales h3 {
    font-size: 1rem;
    text-align: center; }
  .grupo-footer .direccion h3 {
    font-size: 1rem;
    text-align: center; }
  .grupo-footer .direccion .dire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .grupo-footer .direccion .dire p {
      font-size: .8rem;
      text-align: center; }

.footer-pie {
  text-align: center;
  font-size: 0.5rem; }

@media (max-width: 858px) {
  .gps-texto p {
    font-size: 1rem; }
  .footer-pie p {
    font-size: .4rem; } }

@media (max-width: 358px) {
  .pie-de-pagina .grupo-footer {
    grid-template-columns: repeat(1, 1fr); } }

/* Redes Sociales */
/* se utilizo un extend */
.menu_redes1, .redes_sociales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px; }

.animacion {
  position: relative;
  margin: 10% auto;
  width: 70%;
  height: 400px;
  background: linear-gradient(90deg, #fcfcfc, #f3f6f7); }

.animacion:before, .animacion:after {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  background: linear-gradient(120deg, #79fb00, #8d01a0, #031ba5, #ff004c, #e6036d, #fb0094, #ff6600, #04c2e4, #04c2e4, #adad02, #00c3ff);
  background-size: 300%;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  z-index: -1;
  animation: animacion1 15s ease infinite; }

@keyframes animacion1 {
  0% {
    background-position: 0% 200%; }
  50% {
    background-position: 200% 0%; }
  100% {
    background-position: 0% 300%; } }

.animacion:after {
  filter: brightness(1.4);
  filter: drop-shadow(16px 16px 20px #f8dc61);
  filter: blur(15px); }

.redes_sociales {
  flex-direction: row;
  list-style: none;
  margin: 0; }

.texto_redes {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #56AADA;
  font-family: Arial, Helvetica, sans-serif; }

.logo_redes {
  width: 110px;
  height: 90px; }

@media (max-width: 858px) {
  .texto_redes {
    font-size: 24px; }
  .logo_redes {
    width: 80px;
    height: 60px; } }

@media (max-width: 650px) {
  .logo_redes {
    width: 50px;
    height: 40px; } }

/*gps*/
/*variables*/
.gps-texto {
  background: #56AADA; }
  .gps-texto p {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center; }

.gps-iframe {
  width: 100%; }

.iframe {
  height: 20rem; }

@media (max-width: 850px) {
  .gps-texto p {
    font-size: 1.2rem; } }

@media (max-width: 650px) {
  .gps-texto p {
    font-size: 1rem; } }

/*asesoria */
.icono_asesoria {
  width: 3rem;
  height: 3rem; }

.asesoria-box {
  padding: 20px;
  padding-bottom: 30px; }

.asesoria-icono {
  justify-content: center;
  text-align: center;
  border: 2px solid;
  margin: 10px;
  background-color: #BCF9A7;
  text-decoration: none;
  padding-top: 1rem; }
  .asesoria-icono p {
    font-size: 1.8rem;
    color: #FD1283; }
  .asesoria-icono a {
    text-decoration: none; }

@media (max-width: 858px) {
  .asesoria-icono p {
    font-size: .8rem; } }

@media (max-width: 650px) {
  .asesoria-icono p {
    font-size: .6rem; } }

/*Distintas formas de Pagos */
.f-pagos {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  width: 100%;
  height: 9rem; }

.pagos-lista, .pagos-lista p {
  text-align: center;
  align-items: center; }
  .pagos-lista p {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #FD1283; }
  .pagos-lista svg {
    width: 200px;
    height: 90px; }

@media (max-width: 890px) {
  .f-pagos {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 6rem;
    gap: 2rem;
    line-height: 30px; }
  .menu-items {
    font-size: 1.5vh; } }

@media (max-width: 680px) {
  .pagos-lista, .pagos-lista p {
    font-size: 1rem; } }

@media (max-width: 350px) {
  .f-pagos {
    font-size: .8rem; } }

/* Taller */
.contenedor-info h2 {
  font-size: 3rem;
  text-align: center;
  color: red;
  text-transform: uppercase; }

.contenedor-info h3 {
  font-size: 2rem;
  text-align: center;
  color: #000;
  text-transform: uppercase; }

.contenedor-info p {
  font-size: 1.2rem;
  text-align: center;
  color: #000;
  text-transform: uppercase; }

.texto-taller {
  font-size: 2rem;
  text-transform: uppercase; }

@media (max-width: 850px) {
  .contenedor-info h2 {
    font-size: 1.2rem;
    text-align: center;
    color: red;
    text-transform: uppercase; }
  .contenedor-info h3 {
    font-size: 1rem;
    text-align: center;
    color: #000;
    text-transform: uppercase; }
  .contenedor-info p {
    font-size: 0.8rem;
    text-align: center;
    color: #000;
    text-transform: uppercase; } }

/* Codigo */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

.menu-items {
  font-size: 3vh;
  text-align: center;
  text-transform: uppercase;
  margin: 10px; }

.nav-items-redes {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  justify-content: center; }

.icono_redes {
  width: 40px;
  height: 40px; }

.logo {
  width: 90px; }

.container-fluid {
  background: #aae2f3; }

#menuNavegacion {
  justify-content: center; }

.menu-items:hover {
  background: rgba(102, 193, 253, 0.822); }

.carousel-item {
  height: 35rem; }

.imagen-carousel {
  height: 100%;
  object-fit: cover; }
