/*asesoria */
.icono_asesoria{
    width: 3rem;
    height: 3rem;
    
}
.asesoria-box {
     padding: 20px;
     padding-bottom: 30px;
}
.asesoria-icono{
    justify-content: center;
    text-align: center;
    border: 2px solid;
    margin: 10px;
    background-color: #BCF9A7;
    text-decoration: none;
    padding-top: 1rem;
        p{
        font-size: 1.8rem;
        color: #FD1283;
         }
        a{
            text-decoration: none;
        }
}
@media (max-width: 858px) {
    .asesoria-icono{
        p{
            font-size: .8rem;
        }
    }
}
@media (max-width: 650px)
{
    .asesoria-icono{
        p{
            font-size: .6rem;
        }
}

}





