/*footer */

.pie-de-pagina{
    width: 100%;
    background-color: $colorFondo;

}

.grupo-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    padding: 45px 0px;

    .horarios {
        justify-content: center;
        align-items: center;
        h3{
            font-size: 1rem;
            text-align: center;
        }
        p{
            font-size:.8rem;
            text-align: center;
        }
    
} 
    .redes-sociales {
        .redes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        h3{
            font-size: 1rem;
            text-align: center;
        }

    }
    .direccion{ 
         h3{
            font-size: 1rem;
            text-align: center;
        }      
        .dire{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;  
            p{
            font-size: .8rem;
            text-align: center;
            }
        }         
    }
    
}
.footer-pie {    
        @include footer (center, .5rem); 
   
}


@media (max-width: 858px) {
    .gps-texto p{
        font-size: 1rem;
    }
    
    
    .footer-pie p{
        font-size: .4rem;
    }
}
@media (max-width: 358px){
   
    .pie-de-pagina .grupo-footer{        
        grid-template-columns: repeat(1, 1fr);        
    
    }

}

