/* grilla de okm*/

.flota_0km{
    
    width: auto;     
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.tarjeta a{
    text-decoration: none;
}

.name{
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 30px;    
}
.paragraph {
    font-size: 2rem;
    font-weight: 300;
    --clippy: circle(0% at 50% 50%);
    margin-bottom: 30px;
}

.item{
    position: relative;
    padding-left: 1rem;
    transition: color 1s;  
}
.item::before{
    content: "";
    display: block;
    background:  slateblue;
    width: 120%;
    height: 100%;
    position: absolute;   
    z-index: -1;
    top:0;
    left:0;
    clip-path: var(--clippy);
    transition: clip-path 2s;
}

.paragraph::before{
    background: #f86d70;
}
.name:hover::before{
    clip-path: polygon(0 0, 86% 0, 95% 100%, 0 100%);
    
}
.name:hover + .paragraph::before{
    clip-path: circle(150% at 50% 50%);
    transition: clip-path 1.5s 2s;
}
.name:hover,
.name:hover + .paragraph{
    color: #fff;
}
.contenedor-auto{
    width: 350px;
    height: 250px;
    margin: auto;
}
.contenedor-grilla {
    width: 100%;
    height: 100%;
       
}
.contenedor-auto figure {
    position: relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.contenedor-auto figure img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
    object-fit: contain;
}
.contenedor-auto figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor-auto figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor-auto figure:hover > .capa h3{
    margin-top: 20px;
    margin-bottom: 15px;

}
.contenedor-auto figure:hover > figure img {
    transform: scale(1.3);
}
.contenedor-auto figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
    text-transform: uppercase;
}
.contenedor-auto figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.card-footer {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
        
}

@media (max-width: 858px){
    .name {
        font-size: 2rem;
    }
    .paragraph{
        font-size: 1.5rem;
        padding-bottom: 40px;
    }
}
@media (max-width: 650px){
    .item::before{
        width: 100%;
    }
}
@media (max-width: 660px){
    .contenedor-auto figure{
        width: 250px;
        height: 250px;
        
    }
    .contenedor-auto{
        width: 250px;
    }
    
}