/*gps*/
@import "variables";

.gps-texto {
    background: $colorPrimario; 
    p {
    font-size: 2rem;
    text-transform: uppercase;
    text-align:center;
    }
   
}
.gps-iframe{
    width:100%;
}

.iframe{
    height: 20rem;
}
@media (max-width: 850px) {
    .gps-texto p{
        font-size: 1.2rem;
    }
}
@media (max-width: 650px) {
    .gps-texto p{
        font-size: 1rem;
    }
}