/* Archivos Sass */
@import "variables";
@import "mixins";
@import "0kmEstilos";
@import "Usados";
@import "grilla-fotos-0km";
@import "footer";
@import "redes-sociales";
@import "iframe";
@import "asesoria";
@import "pagos";
@import "taller";

/* Codigo */
*{
    margin: 0;
    padding: 0;   
    text-decoration: none; 
    font-family: $tipografiaPrimaria;
}
*, *:before, *:after {
    box-sizing: border-box;
  }

:root {
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
} 
.menu-items {
    font-size: 3vh;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    
}
.nav-items-redes{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: center;
}
.icono_redes {
    width: 40px;
    height: 40px;
    
}
.logo {
    width: 90px;
   
}
.container-fluid {
    background: $colorFondo;
}
#menuNavegacion {
    justify-content: center;  
    
}
.menu-items:hover {
    background:rgba(102, 193, 253, 0.822);
    
}
.carousel-item {
    height: 35rem;

}
.imagen-carousel {
    height: 100%;
    object-fit: cover;
}




